name: Tag and Release

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "lib/bs62/version.rb"
  pull_request_target:
    types:
      - closed

permissions:
  pull-requests: write
  contents: write
  id-token: write
  actions: write

jobs:
  ruby:
    uses: gjtorikian/actions/.github/workflows/ruby_gem.yml@main
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}
    with:
      gem_name: bs62
      version_filepath: lib/bs62/version.rb
      oxidized: true
      prepare: ${{ github.event_name == 'push' }}
      release: ${{ github.event_name == 'workflow_dispatch' || ((github.event.pull_request.merged == true) && (contains(github.event.pull_request.labels.*.name, 'release'))) }}
      oidc_role_to_assume: rg_oidc_akr_bazhtdzcecd2yvyh4jsp
